/* ROOT */
:root {
    /* SIZES */
    --header-height: 80px;
    --footer-height: 97px;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

main {
    position: relative;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

img {
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.icons {
    color: white;
    margin: 1em 0 0;
}

.text-color {
    color: gray;
}

.white {
    color: white;
}

.size {
    width: 15%;
    vertical-align: middle;
}

.btn-description {
    font-size: 12px;
    font-weight: 500;
}

.ml {
    margin-left: 1.5em;
}

.ml-1 {
    margin-left: 1em;
}

.ml-3 {
    margin-left: 3em;
}

.mt {
    margin-top: .5em;
}

.pl {
    padding-left: 1em;
}

.fs {
    font-size: 14px;
}

.small-fs {
    font-size: 10px;
}

/* MAIN */
header {
    width: calc(100% - 200px);
    height: var(--header-height);
    background-color: rgba(0, 0, 0, .9);
    position: fixed;
    top: 0;
    right: 0;
}

.upgrade {
    padding: 10px 30px;
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: inherit;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    font-weight: 500;
}

header :hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* NAV */
nav {
    width: 200px;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.sidebar-top {
    height: calc(100% - 80px);
}

.sidebar-top :hover {
    color: white;
    cursor: pointer;
}

.sidebar-bottom {
    height: 80px;
    min-height: 350px;
    overflow: hidden;
}

.sidebar-bottom :hover {
    color: white;
    cursor: pointer;
}

.spotify-logo {
    width: 75%;
    margin: 1em 1em 0 1em;
}

.sidebar a {
    display: inline-block;
    line-height: 2rem;
    padding-left: 20px;
    border-left: 3px solid transparent;
}

.sidebar a.active {
    border-left: 3px solid yellowgreen;
}

.playlist {
    margin: 2em 1.5em;
    overflow-y: auto;
}

.playlist button {
    width: 40px;
    height: 40px;
    background-color: gray;
    margin: .5em .3em;
    font-size: 2em;
    font-weight: 500;
    border: 0px;
}

.playlist .text-color {
    vertical-align: super;
}

.playlist li {
    margin-bottom: .9em;
}

.download {
    margin: 6em 1em 0 1em;
    padding-bottom: .5em;
    border-bottom: 1px solid gray;
}

.download-btn {
    width: 10%;
    vertical-align: middle;
    margin-right: .5em;
}

.profile {
    margin: 1em 1em;
}

.profile-icon {
    background-color: gray;
    border-radius: 50%;
}

/* MAIN-CONTENT */
.main-content {
    width: calc(100% - 200px);
    height: calc(100vh - var(--header-height) - var(--footer-height));
    position: absolute;
    top: 80px;
    left: 200px;
    overflow-y: auto;
    background-color: #141922;
}

.menu ul {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    border-bottom: 3px solid transparent;
}

.menu ul :hover {
    color: white;
    cursor: pointer;
}

.bb {
    border-bottom: 2px solid yellowgreen;
}

.menu li {
    margin-right: 1em;
}

.menu h2 {
    margin: 1em 1em;
}

@media screen and (max-width: 700px) {
    .main-content {
        height: calc(101vh - var(--header-height) - var(--footer-height));
    }

    .menu ul {
        display: flex;
        flex-wrap: wrap;
        font-size: 11px;
        font-weight: 700;
        margin: 16px 0 16px 16px;
    }

    .menu ul :last-child {
        margin-top: 2em;

    }

    .menu h2 {
        font-size: 22px;
    }
}
/* RECENTLY PLAYED */
.recently-played {
    display: flex;
    margin-bottom: 1em;
}

.recently-played img {
    width: 90%;
    margin-bottom: 1em;
    position: relative;
}

.last-played :hover {
    opacity: .5;
}

.last-played {
    width: calc(100%/6);
    text-align: center;
    position: relative;
}

.last-played h4 {
    margin: 0 0 .3em 0;
}

.st {
    font-size: 18px;
}

#first {
    margin-left: 1em;
}

.hover-btn {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 4em;
}

.over-btn :hover {
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .recently-played {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .last-played {
        width: calc(100%/4 - 1em);
    }

    .media {
        font-size: 14px;
        margin-right: 9px;
        margin-bottom: 1.5em;
    }

    .media .st {
        font-size: 11px;
        font-weight: 700;
    }

    .media p {
        font-size: 11px;
        font-weight: 500;
    }

    .media .stein {
        font-size: 9px;
    }

    .hover-btn {
        font-size: 2em;
        top: 8%;
        left: 35%;
    }

    .space {
        margin-left: 1em;
    }
}

/* MIXED PLAYLIST */
.created-for {
    margin-left: 1em;
}

.created-for p {
    margin: .5em 0 2em ;
}

@media screen and (max-width: 700px) {
    .created-for h2 {
        font-size: 18px;
    }

    .created-for p {
        font-size: 10px;
    }
}

.mixed {
    display: flex;
    margin-bottom: 2em;
}

.release {
    width: 200px;
}

.release img {
    width: 100%;
    margin-bottom: 1em;
    padding-right: 1em;
}

.release h4 {
    text-align: center;
}

.br {
    border-radius: 50%;
}

@media screen and (max-width: 700px) {
    .release {
        width: 25%;
    }

    .release h4 {
        font-size: 12px;
        margin-left: 14px;
    }
}

/* FOOTER */
footer {
    width: 100%;
    height: var(--footer-height);
    display: flex;
    background-color: #282828;
    z-index: 2;
}

.current-song {
    width: calc(100%/3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.play {
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.volume {
    width: calc(100%/3);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

/* LEFT FOOTER-COL */
.current-song img {
    width: 50px;
    height: 50px;
    margin: 1.5em 1em;
    vertical-align: middle;
}

.underline :hover {
    text-decoration: underline;
    cursor: pointer;
}

.current-song span :hover {
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .current-song {
        transform: scale(.9);
    }

    .current-song img {
        margin: 1.5em 1em 1.5em 0;
    }

    .current-song .ml-3 {
        margin-left: 1em;
    }
}
/* CENTER FOOTER-COL */
.play-stop i {
    margin: .5em;
} 

.play-btn {
    font-size: 1.5em;
}

.play-btn :hover {
    transform: scale(1.5);
    cursor: pointer;
}

.song-duration {
    display: flex;
    align-items: center;
    position: relative;
}

.duration {
    width: 400px;
    border: 2px solid gray;
    border-radius: 25px;
}

.white-duration {
    width: 100px;
    position: absolute;
    bottom: 4px;
    left: 45px;
    border: 2px solid white;
    border-radius: 25px;
}

.hover-duration :hover {
    border: 2px solid yellowgreen;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .song-duration {
        width: 260px;
    }

    .white-duration {
        position: absolute;
        bottom: 5px;
        left: 44px;
    }

}
/* RIGHT FOOTER-COL */
.volume-up {
    width: 100px;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 25px;
}

.white-duration-2 {
    width: 25px;
    position: absolute;
    bottom: 44px;
    right: 95px;
    border: 2px solid white;
    border-radius: 25px;
}

.hover-duration :hover {
    border: 2px solid yellowgreen;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .volume {
        margin-right: 5px;
    }

    .white-duration-2 {
        position: absolute;
        bottom: 35px;
        right: 80px;
    }
}